## Edit Adi L. Tarca
##Namespace file for nnNorm package
importFrom(nnet,nnet)
import(marray,stats)
importFrom(graphics,lines)
importFrom(graphics,points)
importFrom(graphics,plot)
export("maNormNN","detectSpatialBias","compNorm")

